---

---

<html lang="es-MX">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="seccion1-logo">
			<div>
				<img src="" alt="logo">
			</div>
		</section>

		<section class="seccion2-restaurantes">
			<div class="s2-card">
				<div class="pestana">
					<i>10</i>
					<i>10</i>
					<i>10</i>
				</div>
				<img src="" alt="">
				<p>Hamburguesas The King</p>
			</div>
			<div class="s2-card">
				<div class="pestana">
					<i>10</i>
					<i>10</i>
					<i>10</i>
				</div>
				<img src="" alt="">
				<p>Hamburguesas The King</p>
			</div>
			<div class="s2-card">
				<div class="pestana">
					<i>10</i>
					<i>10</i>
					<i>10</i>
				</div>
				<img src="" alt="">
				<p>Hamburguesas The King</p>
			</div>
		</section>

		<section class="seccion3-banner">
			<h2>Nos ajustamos a tus necesidades</h2>
			<div class="s3-card">
				<h2>Método de pago</h2>
				<div class="metodo1">
					<h2>Tarjeta</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minus?</p>
					<i>+</i>
				</div>
				<div class="metodo2">
					<h2>Tarjeta</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minus?</p>
					<i>+</i>
				</div>
			</div>

			<div class="s3-card">
				<h2>Método de pago</h2>
				<div class="metodo1">
					<h2>Tarjeta</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minus?</p>
					<i>+</i>
				</div>
				<div class="metodo2">
					<h2>Tarjeta</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minus?</p>
					<i>+</i>
				</div>
			</div>

			<div class="s3-card">
				<h2>Método de pago</h2>
				<div class="metodo1">
					<h2>Tarjeta</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minus?</p>
					<i>+</i>
				</div>
				<div class="metodo2">
					<h2>Tarjeta</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, minus?</p>
					<i>+</i>
				</div>
			</div>
		</section>

		<section class="seccion4-testimonios">
			<div class="testimonios">
				<div class="comentario">
					<i>+</i>
					<h2>Nombre</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, incidunt?</p>
				</div>

				<div class="comentario">
					<i>+</i>
					<h2>Nombre</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, incidunt?</p>
				</div>

				<div class="separacion"></div>

				<div class="ubicacion">
					<h2>Ubicación</h2>
					<div class="direccion">
						<h2>Lorem, ipsum dolor.</h2>
						<button>Lorem, ipsum dolor.</button>
						<div class="redes">
							<i>+</i>
							<i>+</i>
							<i>+</i>
							<i>+</i>
						</div>
						<div class="mapa">
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="seccion6-footer">
			<div class="contactos">
				<i>+</i>
				<p>Lorem ipsum dolor sit amet.</p>
				<i>+</i>
				<p>Lorem, ipsum dolor.</p>
			</div>

			<div class="botones-contacto">
				<button>Lorem, ipsum dolor.</button>
				<button>Lorem, ipsum dolor.</button>

				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet.</p>

				<div class="gudi">
					<p>Proyecto elaborado por GUDI</p>
				</div>
			</div>

			<div class="asociate">
				<p>Lorem ipsum dolor sit.</p>
				<p>Lorem, ipsum dolor.</p>
				<button>Lorem, ipsum.</button>
			</div>
		</section>
	</body>
</html>
